body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.custom-bg-grey {
    background-color: #F2F2F2;
}

#my-search-bar::placeholder {
    color: darkgrey;
}

@media screen and (max-width: 480px) {
    th, td {
         max-width: calc(100% / 3) ; 
    }
}