@import url("bootstrap/dist/css/bootstrap.min.css");

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.custom-td {
    width: calc(50% / 3);
}

.custom-bg-grey {
    background-color: #F2F2F2;
}

#my-search-bar::placeholder {
    color: darkgrey;
}

@media screen and (max-width: 576px) {
    
    .custom-td {
        width: auto;
    }
}